In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("weather_data.csv")
print(df)

           day  temperature  windspeed  event
0   2025-01-01          NaN       12.0    NaN
1   2025-01-02         33.0        NaN   snow
2   2025-01-03         27.0        NaN    NaN
3   2025-01-04         30.0       10.0  sunny
4   2025-01-05          NaN        NaN   rain
..         ...          ...        ...    ...
56  2025-02-26         32.0        NaN   rain
57  2025-02-27         30.0       23.0   snow
58  2025-02-28         20.0       21.0   rain
59  2025-03-01          NaN        6.0   snow
60  2025-03-02         24.0        NaN  sunny

[61 rows x 4 columns]

# df is a dataframe object

In [5]:
df.shape

(61, 4)

In [6]:
row,col = df.shape
print(row)
print(col)

61
4

In [7]:
df.describe

<bound method NDFrame.describe of            day  temperature  windspeed  event
0   2025-01-01          NaN       12.0    NaN
1   2025-01-02         33.0        NaN   snow
2   2025-01-03         27.0        NaN    NaN
3   2025-01-04         30.0       10.0  sunny
4   2025-01-05          NaN        NaN   rain
..         ...          ...        ...    ...
56  2025-02-26         32.0        NaN   rain
57  2025-02-27         30.0       23.0   snow
58  2025-02-28         20.0       21.0   rain
59  2025-03-01          NaN        6.0   snow
60  2025-03-02         24.0        NaN  sunny

[61 rows x 4 columns]>

### pd.DataFrame("dictionary name")

In [8]:
# from dictionary 

weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
    
}

df_2 = pd.DataFrame(weather_data)
print(df_2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:


df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
df = pd.Series([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]]
                 )
print(df)

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

In [11]:
df = pd.Series([1,2,3,4])
print(df)
print(type(df))
df = pd.DataFrame([1,2,3,4])
print(df)
print(type(df))
print(np.sum(df))
print(df + df )

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>
   0
0  1
1  2
2  3
3  4
<class 'pandas.core.frame.DataFrame'>
0    10
dtype: int64
   0
0  2
1  4
2  6
3  8

c:\Users\KIIT0001\Documents\Python_ML\venv\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

| Feature   | Series                      | DataFrame                           |
| --------- | --------------------------- | ----------------------------------- |
| Dimension | 1-D                         | 2-D                                 |
| Structure | Single column               | Multiple columns (even if only one) |
| Display   | index + values              | rows + columns                      |
| Type      | `pandas.core.series.Series` | `pandas.core.frame.DataFrame`       |

In [12]:
df_1 = pd.Series([1,2,3,4])
print(df_1)
print(type(df_1))
df_2 = pd.DataFrame([1,2,3,4])
print(df_2)
print(type(df_2))
print(np.sum(df_1))
print(df_1 + df_2 )

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>
   0
0  1
1  2
2  3
3  4
<class 'pandas.core.frame.DataFrame'>
10
   0   1   2   3
0  2 NaN NaN NaN
1  3 NaN NaN NaN
2  4 NaN NaN NaN
3  5 NaN NaN NaN

### To add (sum) two Pandas Series element-by-element using NumPy, you can do it very easily.

In [13]:

s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([10, 20, 30, 40])

result = np.add(s1, s2)     # element-by-element sum
print(result)

0    11
1    22
2    33
3    44
dtype: int64

In [14]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]],
                  index=['row1', 'row2', 'row3'],
                  columns=['A', 'B', 'C'])
print(df)

      A  B  C
row1  1  2  3
row2  4  5  6
row3  7  8  9

In [15]:
# df.head() print some initial rows 
df = pd.read_csv("weather_data.csv")
df.head()

          day  temperature  windspeed  event
0  2025-01-01          NaN       12.0    NaN
1  2025-01-02         33.0        NaN   snow
2  2025-01-03         27.0        NaN    NaN
3  2025-01-04         30.0       10.0  sunny
4  2025-01-05          NaN        NaN   rain

In [16]:
df.tail()

           day  temperature  windspeed  event
56  2025-02-26         32.0        NaN   rain
57  2025-02-27         30.0       23.0   snow
58  2025-02-28         20.0       21.0   rain
59  2025-03-01          NaN        6.0   snow
60  2025-03-02         24.0        NaN  sunny

In [17]:
#initial 10 rows 
df . head(10)

          day  temperature  windspeed  event
0  2025-01-01          NaN       12.0    NaN
1  2025-01-02         33.0        NaN   snow
2  2025-01-03         27.0        NaN    NaN
3  2025-01-04         30.0       10.0  sunny
4  2025-01-05          NaN        NaN   rain
5  2025-01-06         32.0        6.0  sunny
6  2025-01-07          NaN       13.0   snow
7  2025-01-08         30.0        NaN  sunny
8  2025-01-09         19.0        9.0    NaN
9  2025-01-10         33.0       20.0   snow

# SLICING

In [ ]:
#slicing print 4 to 10 rows 
df[4:10]

          day  index  event  temperature  windspeed
4  2025-01-05      4   rain          0.0        NaN
5  2025-01-06      5  sunny         32.0        6.0
6  2025-01-07      6   snow          0.0       13.0
7  2025-01-08      7  sunny         30.0        NaN
8  2025-01-09      8    NaN         19.0        9.0
9  2025-01-10      9   snow         33.0       20.0

| Attribute              | `.loc[]`                 | `.iloc[]`                           |
| ---------------------- | ------------------------ | ----------------------------------- |
| Stands for             | **Label-based indexing** | **Integer position–based indexing** |
| Uses                   | Row/column **names**     | Row/column **numbers**              |
| Includes end index?    | **Yes**                  | **No** (like Python slices)         |
| Accepts boolean mask   | ✔️                       | ✔️                                  |
| Accepts negative index | ❌                        | ✔️                                  |

In [19]:
df = pd.read_csv("weather_data.csv")

In [20]:
# 3:17 start row 3 end row 17-1 .... 1:3 start col 1 end column 3-1
# iloc .. do the index based slicing
print(df.iloc[3:17,1:3])

    temperature  windspeed
3          30.0       10.0
4           NaN        NaN
5          32.0        6.0
6           NaN       13.0
7          30.0        NaN
8          19.0        9.0
9          33.0       20.0
10         18.0       20.0
11         31.0        8.0
12         31.0       20.0
13          NaN       12.0
14         23.0        6.0
15         34.0        6.0
16         30.0       22.0

In [21]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [22]:
df.temperature

0      NaN
1     33.0
2     27.0
3     30.0
4      NaN
      ...
56    32.0
57    30.0
58    20.0
59     NaN
60    24.0
Name: temperature, Length: 61, dtype: float64

In [23]:
#print 3 to 10 rows day values 
df[3:10].day

3    2025-01-04
4    2025-01-05
5    2025-01-06
6    2025-01-07
7    2025-01-08
8    2025-01-09
9    2025-01-10
Name: day, dtype: object

In [24]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [25]:
df[['day','event']]

           day  event
0   2025-01-01    NaN
1   2025-01-02   snow
2   2025-01-03    NaN
3   2025-01-04  sunny
4   2025-01-05   rain
..         ...    ...
56  2025-02-26   rain
57  2025-02-27   snow
58  2025-02-28   rain
59  2025-03-01   snow
60  2025-03-02  sunny

[61 rows x 2 columns]

# FUNCTIONS ON DATA SET

In [26]:
print(df.temperature) #will print all temprature

#find max temparature 


print(df.temperature.max())

0      NaN
1     33.0
2     27.0
3     30.0
4      NaN
      ...
56    32.0
57    30.0
58    20.0
59     NaN
60    24.0
Name: temperature, Length: 61, dtype: float64
34.0

In [27]:
print(df.temperature.max())
print(df.temperature.min())
print(df.temperature.mean())
print(df.temperature.std())
 #  std = standard deviation

34.0
18.0
26.58823529411765
5.3672207727584125

In [28]:
df.describe

<bound method NDFrame.describe of            day  temperature  windspeed  event
0   2025-01-01          NaN       12.0    NaN
1   2025-01-02         33.0        NaN   snow
2   2025-01-03         27.0        NaN    NaN
3   2025-01-04         30.0       10.0  sunny
4   2025-01-05          NaN        NaN   rain
..         ...          ...        ...    ...
56  2025-02-26         32.0        NaN   rain
57  2025-02-27         30.0       23.0   snow
58  2025-02-28         20.0       21.0   rain
59  2025-03-01          NaN        6.0   snow
60  2025-03-02         24.0        NaN  sunny

[61 rows x 4 columns]>

In [29]:
df.describe()

       temperature  windspeed
count    51.000000  49.000000
mean     26.588235  14.816327
std       5.367221   5.637203
min      18.000000   6.000000
25%      22.000000  10.000000
50%      27.000000  15.000000
75%      31.000000  20.000000
max      34.000000  24.000000

In [30]:
print(df.max(numeric_only=True))

temperature    34.0
windspeed      24.0
dtype: float64

# CONDITION SELECTION OF DATA

In [31]:
print(df[df.temperature>=30])

           day  temperature  windspeed  event
1   2025-01-02         33.0        NaN   snow
3   2025-01-04         30.0       10.0  sunny
5   2025-01-06         32.0        6.0  sunny
7   2025-01-08         30.0        NaN  sunny
9   2025-01-10         33.0       20.0   snow
11  2025-01-12         31.0        8.0   rain
12  2025-01-13         31.0       20.0  sunny
15  2025-01-16         34.0        6.0    NaN
16  2025-01-17         30.0       22.0  sunny
22  2025-01-23         31.0       14.0    NaN
24  2025-01-25         30.0        6.0    NaN
25  2025-01-26         33.0       19.0   snow
29  2025-01-30         34.0       15.0   snow
30  2025-01-31         33.0        NaN   snow
34  2025-02-04         33.0       15.0   snow
41  2025-02-11         34.0       12.0    NaN
47  2025-02-17         31.0        NaN   snow
50  2025-02-20         33.0        NaN   snow
53  2025-02-23         33.0       21.0   snow
56  2025-02-26         32.0        NaN   rain
57  2025-02-27         30.0       23.0   snow

In [32]:
print(df[df.temperature==df.temperature.max()])

           day  temperature  windspeed event
15  2025-01-16         34.0        6.0   NaN
29  2025-01-30         34.0       15.0  snow
41  2025-02-11         34.0       12.0   NaN

## if column attribute contain space separated name then use ... (best practice)

In [33]:
print(df[df.temperature==df['temperature'].max()])

           day  temperature  windspeed event
15  2025-01-16         34.0        6.0   NaN
29  2025-01-30         34.0       15.0  snow
41  2025-02-11         34.0       12.0   NaN

In [34]:
#print day where the teparature is max
# df[column name][condition]
print(df['day'][df.temperature==df['temperature'].max()])

15    2025-01-16
29    2025-01-30
41    2025-02-11
Name: day, dtype: object

In [35]:
df[['day','temperature']]

           day  temperature
0   2025-01-01          NaN
1   2025-01-02         33.0
2   2025-01-03         27.0
3   2025-01-04         30.0
4   2025-01-05          NaN
..         ...          ...
56  2025-02-26         32.0
57  2025-02-27         30.0
58  2025-02-28         20.0
59  2025-03-01          NaN
60  2025-03-02         24.0

[61 rows x 2 columns]

In [36]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

           day  temperature
15  2025-01-16         34.0
29  2025-01-30         34.0
41  2025-02-11         34.0

In [37]:
df[['day','temperature']][(df['temperature'] == df['temperature'].max()) & (df['windspeed']>= 10)]

           day  temperature
29  2025-01-30         34.0
41  2025-02-11         34.0

# INDEXING

In [38]:
df.index

RangeIndex(start=0, stop=61, step=1)

In [39]:
df_2.index

RangeIndex(start=0, stop=4, step=1)

### want to set day as the index

In [40]:
df.set_index('day')
## return the copied data do not change the original data frame

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0        NaN   snow
2025-01-03         27.0        NaN    NaN
2025-01-04         30.0       10.0  sunny
2025-01-05          NaN        NaN   rain
...                 ...        ...    ...
2025-02-26         32.0        NaN   rain
2025-02-27         30.0       23.0   snow
2025-02-28         20.0       21.0   rain
2025-03-01          NaN        6.0   snow
2025-03-02         24.0        NaN  sunny

[61 rows x 3 columns]

In [41]:
# to change original data frame 
df.set_index('day',inplace=True)
print(df)

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0        NaN   snow
2025-01-03         27.0        NaN    NaN
2025-01-04         30.0       10.0  sunny
2025-01-05          NaN        NaN   rain
...                 ...        ...    ...
2025-02-26         32.0        NaN   rain
2025-02-27         30.0       23.0   snow
2025-02-28         20.0       21.0   rain
2025-03-01          NaN        6.0   snow
2025-03-02         24.0        NaN  sunny

[61 rows x 3 columns]

In [42]:
df.loc[['2025-01-03','2025-01-02']]

            temperature  windspeed event
day
2025-01-03         27.0        NaN   NaN
2025-01-02         33.0        NaN  snow

In [43]:
df.loc['2025-01-03']

temperature    27.0
windspeed       NaN
event           NaN
Name: 2025-01-03, dtype: object

##### reset the index

In [44]:
df.reset_index(inplace=True)

In [45]:
df

           day  temperature  windspeed  event
0   2025-01-01          NaN       12.0    NaN
1   2025-01-02         33.0        NaN   snow
2   2025-01-03         27.0        NaN    NaN
3   2025-01-04         30.0       10.0  sunny
4   2025-01-05          NaN        NaN   rain
..         ...          ...        ...    ...
56  2025-02-26         32.0        NaN   rain
57  2025-02-27         30.0       23.0   snow
58  2025-02-28         20.0       21.0   rain
59  2025-03-01          NaN        6.0   snow
60  2025-03-02         24.0        NaN  sunny

[61 rows x 4 columns]

In [46]:

df.set_index('event',inplace=True)
print(df)

              day  temperature  windspeed
event
NaN    2025-01-01          NaN       12.0
snow   2025-01-02         33.0        NaN
NaN    2025-01-03         27.0        NaN
sunny  2025-01-04         30.0       10.0
rain   2025-01-05          NaN        NaN
...           ...          ...        ...
rain   2025-02-26         32.0        NaN
snow   2025-02-27         30.0       23.0
rain   2025-02-28         20.0       21.0
snow   2025-03-01          NaN        6.0
sunny  2025-03-02         24.0        NaN

[61 rows x 3 columns]

In [47]:
df.loc["snow"]

              day  temperature  windspeed
event
snow   2025-01-02         33.0        NaN
snow   2025-01-07          NaN       13.0
snow   2025-01-10         33.0       20.0
snow   2025-01-14          NaN       12.0
snow   2025-01-18         19.0        NaN
snow   2025-01-20         20.0       15.0
snow   2025-01-21         21.0       16.0
snow   2025-01-22         29.0       24.0
snow   2025-01-24         29.0        NaN
snow   2025-01-26         33.0       19.0
snow   2025-01-27         22.0       22.0
snow   2025-01-28         27.0       22.0
snow   2025-01-30         34.0       15.0
snow   2025-01-31         33.0        NaN
snow   2025-02-04         33.0       15.0
snow   2025-02-08         19.0        7.0
snow   2025-02-09         22.0       22.0
snow   2025-02-10         22.0        NaN
snow   2025-02-12         19.0       15.0
snow   2025-02-17         31.0        NaN
snow   2025-02-19         24.0       21.0
snow   2025-02-20         33.0        NaN
snow   2025-02-23         33.0       21.0
snow   2025-02-24          NaN        6.0
snow   2025-02-27         30.0       23.0
snow   2025-03-01          NaN        6.0

In [48]:
df.reset_index(inplace=True)

In [49]:
df

    event         day  temperature  windspeed
0     NaN  2025-01-01          NaN       12.0
1    snow  2025-01-02         33.0        NaN
2     NaN  2025-01-03         27.0        NaN
3   sunny  2025-01-04         30.0       10.0
4    rain  2025-01-05          NaN        NaN
..    ...         ...          ...        ...
56   rain  2025-02-26         32.0        NaN
57   snow  2025-02-27         30.0       23.0
58   rain  2025-02-28         20.0       21.0
59   snow  2025-03-01          NaN        6.0
60  sunny  2025-03-02         24.0        NaN

[61 rows x 4 columns]

In [50]:
df

    event         day  temperature  windspeed
0     NaN  2025-01-01          NaN       12.0
1    snow  2025-01-02         33.0        NaN
2     NaN  2025-01-03         27.0        NaN
3   sunny  2025-01-04         30.0       10.0
4    rain  2025-01-05          NaN        NaN
..    ...         ...          ...        ...
56   rain  2025-02-26         32.0        NaN
57   snow  2025-02-27         30.0       23.0
58   rain  2025-02-28         20.0       21.0
59   snow  2025-03-01          NaN        6.0
60  sunny  2025-03-02         24.0        NaN

[61 rows x 4 columns]

# find the sum of temparature column using numpy function

In [51]:
df.reset_index(inplace=True)
df.set_index('day',inplace=True)
df.fillna({'temperature':0},inplace=True)
sum = np.sum(df['temperature'])
print(sum)

1356.0

In [52]:
df.reset_index(inplace=True)
df

           day  index  event  temperature  windspeed
0   2025-01-01      0    NaN          0.0       12.0
1   2025-01-02      1   snow         33.0        NaN
2   2025-01-03      2    NaN         27.0        NaN
3   2025-01-04      3  sunny         30.0       10.0
4   2025-01-05      4   rain          0.0        NaN
..         ...    ...    ...          ...        ...
56  2025-02-26     56   rain         32.0        NaN
57  2025-02-27     57   snow         30.0       23.0
58  2025-02-28     58   rain         20.0       21.0
59  2025-03-01     59   snow          0.0        6.0
60  2025-03-02     60  sunny         24.0        NaN

[61 rows x 5 columns]

In [53]:
df.index

RangeIndex(start=0, stop=61, step=1)