# HANDLE MISSING VALUES

In [107]:
import pandas as pd
import numpy as np

In [108]:
df = pd.read_csv("weather_data.csv")
print(df)

           day  temperature  windspeed  event
0   2025-01-01          NaN       12.0    NaN
1   2025-01-02         33.0        NaN   snow
2   2025-01-03         27.0        NaN    NaN
3   2025-01-04         30.0       10.0  sunny
4   2025-01-05          NaN        NaN   rain
..         ...          ...        ...    ...
56  2025-02-26         32.0        NaN   rain
57  2025-02-27         30.0       23.0   snow
58  2025-02-28         20.0       21.0   rain
59  2025-03-01          NaN        6.0   snow
60  2025-03-02         24.0        NaN  sunny

[61 rows x 4 columns]

In [109]:
print(df.head(10))

          day  temperature  windspeed  event
0  2025-01-01          NaN       12.0    NaN
1  2025-01-02         33.0        NaN   snow
2  2025-01-03         27.0        NaN    NaN
3  2025-01-04         30.0       10.0  sunny
4  2025-01-05          NaN        NaN   rain
5  2025-01-06         32.0        6.0  sunny
6  2025-01-07          NaN       13.0   snow
7  2025-01-08         30.0        NaN  sunny
8  2025-01-09         19.0        9.0    NaN
9  2025-01-10         33.0       20.0   snow

In [110]:
df.set_index('day',inplace=True)
print(df.head(20))

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0        NaN   snow
2025-01-03         27.0        NaN    NaN
2025-01-04         30.0       10.0  sunny
2025-01-05          NaN        NaN   rain
2025-01-06         32.0        6.0  sunny
2025-01-07          NaN       13.0   snow
2025-01-08         30.0        NaN  sunny
2025-01-09         19.0        9.0    NaN
2025-01-10         33.0       20.0   snow
2025-01-11         18.0       20.0  sunny
2025-01-12         31.0        8.0   rain
2025-01-13         31.0       20.0  sunny
2025-01-14          NaN       12.0   snow
2025-01-15         23.0        6.0   rain
2025-01-16         34.0        6.0    NaN
2025-01-17         30.0       22.0  sunny
2025-01-18         19.0        NaN   snow
2025-01-19          NaN       10.0   rain
2025-01-20         20.0       15.0   snow

### fill all nan value with zero

In [111]:

new_df = df.fillna(0.0)
print(new_df.head(20))

            temperature  windspeed  event
day
2025-01-01          0.0       12.0    0.0
2025-01-02         33.0        0.0   snow
2025-01-03         27.0        0.0    0.0
2025-01-04         30.0       10.0  sunny
2025-01-05          0.0        0.0   rain
2025-01-06         32.0        6.0  sunny
2025-01-07          0.0       13.0   snow
2025-01-08         30.0        0.0  sunny
2025-01-09         19.0        9.0    0.0
2025-01-10         33.0       20.0   snow
2025-01-11         18.0       20.0  sunny
2025-01-12         31.0        8.0   rain
2025-01-13         31.0       20.0  sunny
2025-01-14          0.0       12.0   snow
2025-01-15         23.0        6.0   rain
2025-01-16         34.0        6.0    0.0
2025-01-17         30.0       22.0  sunny
2025-01-18         19.0        0.0   snow
2025-01-19          0.0       10.0   rain
2025-01-20         20.0       15.0   snow

### fill all nan value with zero in a particular column

In [112]:
new_df = df.fillna({'temperature':0,'windspeed':0,'event':'no event'})
print(new_df.head(20))

            temperature  windspeed     event
day
2025-01-01          0.0       12.0  no event
2025-01-02         33.0        0.0      snow
2025-01-03         27.0        0.0  no event
2025-01-04         30.0       10.0     sunny
2025-01-05          0.0        0.0      rain
2025-01-06         32.0        6.0     sunny
2025-01-07          0.0       13.0      snow
2025-01-08         30.0        0.0     sunny
2025-01-09         19.0        9.0  no event
2025-01-10         33.0       20.0      snow
2025-01-11         18.0       20.0     sunny
2025-01-12         31.0        8.0      rain
2025-01-13         31.0       20.0     sunny
2025-01-14          0.0       12.0      snow
2025-01-15         23.0        6.0      rain
2025-01-16         34.0        6.0  no event
2025-01-17         30.0       22.0     sunny
2025-01-18         19.0        0.0      snow
2025-01-19          0.0       10.0      rain
2025-01-20         20.0       15.0      snow

### nan value is filled with the privious non nan value

In [113]:
new_df = df.fillna(df.ffill())
print(new_df.head(10))

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0       12.0   snow
2025-01-03         27.0       12.0   snow
2025-01-04         30.0       10.0  sunny
2025-01-05         30.0       10.0   rain
2025-01-06         32.0        6.0  sunny
2025-01-07         32.0       13.0   snow
2025-01-08         30.0       13.0  sunny
2025-01-09         19.0        9.0  sunny
2025-01-10         33.0       20.0   snow

### nan value is filled with the next non nan value

In [114]:
new_df = df.fillna(df.bfill())
print(new_df.head(10))

            temperature  windspeed  event
day
2025-01-01         33.0       12.0   snow
2025-01-02         33.0       10.0   snow
2025-01-03         27.0       10.0  sunny
2025-01-04         30.0       10.0  sunny
2025-01-05         32.0        6.0   rain
2025-01-06         32.0        6.0  sunny
2025-01-07         30.0       13.0   snow
2025-01-08         30.0        9.0  sunny
2025-01-09         19.0        9.0   snow
2025-01-10         33.0       20.0   snow

### copy horizontally left to right use ffill and axis = 1

In [115]:
new_df = df.fillna(df.ffill(),axis=1)
print(new_df.head(10))

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0       12.0   snow
2025-01-03         27.0       12.0   snow
2025-01-04         30.0       10.0  sunny
2025-01-05         30.0       10.0   rain
2025-01-06         32.0        6.0  sunny
2025-01-07         32.0       13.0   snow
2025-01-08         30.0       13.0  sunny
2025-01-09         19.0        9.0  sunny
2025-01-10         33.0       20.0   snow

### copy horizontally right to left use bfill and axis = 1

In [116]:
new_df = df.fillna(df.bfill(),axis=1)
print(new_df.tail(10))

            temperature  windspeed  event
day
2025-02-21         19.0       18.0  sunny
2025-02-22         26.0        9.0   snow
2025-02-23         33.0       21.0   snow
2025-02-24         27.0        6.0   snow
2025-02-25         27.0       18.0  sunny
2025-02-26         32.0       23.0   rain
2025-02-27         30.0       23.0   snow
2025-02-28         20.0       21.0   rain
2025-03-01         24.0        6.0   snow
2025-03-02         24.0        NaN  sunny

### limit can limit how many times the value ffill(fordward fill) or bfill(backword fill)

In [ ]:
print(df.head(10))

new_df = df.fillna(df.ffill(),limit = 1)
print(new_df.head(10))

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0        NaN   snow
2025-01-03         27.0        NaN    NaN
2025-01-04         30.0       10.0  sunny
2025-01-05          NaN        NaN   rain
2025-01-06         32.0        6.0  sunny
2025-01-07          NaN       13.0   snow
2025-01-08         30.0        NaN  sunny
2025-01-09         19.0        9.0    NaN
2025-01-10         33.0       20.0   snow
            temperature  windspeed  event
day
2025-01-01         33.0       12.0   snow
2025-01-02         33.0       10.0   snow
2025-01-03         27.0       10.0  sunny
2025-01-04         30.0       10.0  sunny
2025-01-05         32.0        6.0   rain
2025-01-06         32.0        6.0  sunny
2025-01-07         30.0       13.0   snow
2025-01-08         30.0        9.0  sunny
2025-01-09         19.0        9.0   snow
2025-01-10         33.0       20.0   snow

In [121]:
print(df.head(10))

new_df = df.fillna(method="ffill",limit = 1)
print(new_df.head(10))

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0        NaN   snow
2025-01-03         27.0        NaN    NaN
2025-01-04         30.0       10.0  sunny
2025-01-05          NaN        NaN   rain
2025-01-06         32.0        6.0  sunny
2025-01-07          NaN       13.0   snow
2025-01-08         30.0        NaN  sunny
2025-01-09         19.0        9.0    NaN
2025-01-10         33.0       20.0   snow
            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0       12.0   snow
2025-01-03         27.0        NaN   snow
2025-01-04         30.0       10.0  sunny
2025-01-05         30.0       10.0   rain
2025-01-06         32.0        6.0  sunny
2025-01-07         32.0       13.0   snow
2025-01-08         30.0       13.0  sunny
2025-01-09         19.0        9.0  sunny
2025-01-10         33.0       20.0   snow

C:\Users\KIIT0001\AppData\Local\Temp\ipykernel_20356\4172607598.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method="ffill",limit = 1)

Sure ‚Äî here is a **short difference + a big clear example** that shows the difference **visually**.

---

# üî• SHORT DIFFERENCE

| Code                                                          | Meaning                                                                  | Result                    |
| ------------------------------------------------------------- | ------------------------------------------------------------------------ | ------------------------- |
| `df.ffill(limit=1)`  or  `df.fillna(method="ffill", limit=1)` | Fill missing values **step-by-step**, only **1 NaN per consecutive gap** | Some NaN may remain       |
| `df.fillna(df.ffill(), limit=1)`                              | Replace NaN using values from a **fully forward-filled DataFrame**       | All NaN values get filled |

---

# üî• BIG EXAMPLE

### üìå Original DataFrame

```python
   A     B     C
0 NaN   10   NaN
1 5     NaN   x
2 6     NaN  NaN
3 7     20    y
4 NaN   30    z
5 9     NaN   t
```

---

### ‚úîÔ∏è Example 1 ‚Äî gradual forward fill

```python
df1 = df.ffill(limit=1)
print(df1)
```

üëâ Output:

```
     A     B    C
0   NaN   10   NaN
1   5.0   10     x
2   6.0  NaN     x
3   7.0   20     y
4   7.0   30     z
5   9.0   30     t
```

üìå Summary

* Only **one NaN per consecutive block** is filled
* Some NaNs remain (row 0 in A & C, row 2 in B)

---

### ‚úîÔ∏è Example 2 ‚Äî replacement using full forward-fill

```python
df2 = df.fillna(df.ffill(), limit=1)
print(df2)
```

üëâ Output:

```
     A     B    C
0   5.0   10     x
1   5.0   10     x
2   6.0   10     x
3   7.0   20     y
4   7.0   30     z
5   9.0   30     t
```

                   | Use `df.ffill(limit=1)` ‚Äî it‚Äôs the proper and future-safe syntax.         |

### Interpolation means estimating missing values using the trend of the existing data.

In [126]:
df = df.astype({'temperature': float, 'windspeed': float})
new_df = df.interpolate()
print(new_df.head(20))


# d.astype() convert the temperature and windspeed to a floate value coz priviously it have the mixed data type so have the numeric value as a string

            temperature  windspeed  event
day
2025-01-01          NaN  12.000000    NaN
2025-01-02         33.0  11.333333   snow
2025-01-03         27.0  10.666667    NaN
2025-01-04         30.0  10.000000  sunny
2025-01-05         31.0   8.000000   rain
2025-01-06         32.0   6.000000  sunny
2025-01-07         31.0  13.000000   snow
2025-01-08         30.0  11.000000  sunny
2025-01-09         19.0   9.000000    NaN
2025-01-10         33.0  20.000000   snow
2025-01-11         18.0  20.000000  sunny
2025-01-12         31.0   8.000000   rain
2025-01-13         31.0  20.000000  sunny
2025-01-14         27.0  12.000000   snow
2025-01-15         23.0   6.000000   rain
2025-01-16         34.0   6.000000    NaN
2025-01-17         30.0  22.000000  sunny
2025-01-18         19.0  16.000000   snow
2025-01-19         19.5  10.000000   rain
2025-01-20         20.0  15.000000   snow

C:\Users\KIIT0001\AppData\Local\Temp\ipykernel_20356\1816368836.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate()

In [132]:
df.index = pd.to_datetime(df.index)


## index is explicitly converted to datetime dtype. previously it looks like 2025-01-01 but store as a string
new_df = df.interpolate(method="time")
print(new_df.head(20))

            temperature  windspeed  event
day
2025-01-01          NaN  12.000000    NaN
2025-01-02         33.0  11.333333   snow
2025-01-03         27.0  10.666667    NaN
2025-01-04         30.0  10.000000  sunny
2025-01-05         31.0   8.000000   rain
2025-01-06         32.0   6.000000  sunny
2025-01-07         31.0  13.000000   snow
2025-01-08         30.0  11.000000  sunny
2025-01-09         19.0   9.000000    NaN
2025-01-10         33.0  20.000000   snow
2025-01-11         18.0  20.000000  sunny
2025-01-12         31.0   8.000000   rain
2025-01-13         31.0  20.000000  sunny
2025-01-14         27.0  12.000000   snow
2025-01-15         23.0   6.000000   rain
2025-01-16         34.0   6.000000    NaN
2025-01-17         30.0  22.000000  sunny
2025-01-18         19.0  16.000000   snow
2025-01-19         19.5  10.000000   rain
2025-01-20         20.0  15.000000   snow

C:\Users\KIIT0001\AppData\Local\Temp\ipykernel_20356\631830805.py:5: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate(method="time")

### drop the rows which have atleast one na value

In [134]:
new_df_1 = df.dropna()
print(new_df_1.head(20))

            temperature  windspeed  event
day
2025-01-04         30.0       10.0  sunny
2025-01-06         32.0        6.0  sunny
2025-01-10         33.0       20.0   snow
2025-01-11         18.0       20.0  sunny
2025-01-12         31.0        8.0   rain
2025-01-13         31.0       20.0  sunny
2025-01-15         23.0        6.0   rain
2025-01-17         30.0       22.0  sunny
2025-01-20         20.0       15.0   snow
2025-01-21         21.0       16.0   snow
2025-01-22         29.0       24.0   snow
2025-01-26         33.0       19.0   snow
2025-01-27         22.0       22.0   snow
2025-01-28         27.0       22.0   snow
2025-01-29         24.0       15.0   rain
2025-01-30         34.0       15.0   snow
2025-02-02         26.0       13.0  sunny
2025-02-03         20.0       14.0   rain
2025-02-04         33.0       15.0   snow
2025-02-05         18.0       23.0  sunny

### want to drop the rows which have all na values

In [137]:
new_df_1 = df.dropna(how="all")
print(new_df_1.head(20))

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0        NaN   snow
2025-01-03         27.0        NaN    NaN
2025-01-04         30.0       10.0  sunny
2025-01-05          NaN        NaN   rain
2025-01-06         32.0        6.0  sunny
2025-01-07          NaN       13.0   snow
2025-01-08         30.0        NaN  sunny
2025-01-09         19.0        9.0    NaN
2025-01-10         33.0       20.0   snow
2025-01-11         18.0       20.0  sunny
2025-01-12         31.0        8.0   rain
2025-01-13         31.0       20.0  sunny
2025-01-14          NaN       12.0   snow
2025-01-15         23.0        6.0   rain
2025-01-16         34.0        6.0    NaN
2025-01-17         30.0       22.0  sunny
2025-01-18         19.0        NaN   snow
2025-01-19          NaN       10.0   rain
2025-01-20         20.0       15.0   snow

### if i have any row having atleast 1 non na value keep that row

In [141]:
new_df_1 = df.dropna(thresh=1)
print(new_df_1.head(20))

            temperature  windspeed  event
day
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0        NaN   snow
2025-01-03         27.0        NaN    NaN
2025-01-04         30.0       10.0  sunny
2025-01-05          NaN        NaN   rain
2025-01-06         32.0        6.0  sunny
2025-01-07          NaN       13.0   snow
2025-01-08         30.0        NaN  sunny
2025-01-09         19.0        9.0    NaN
2025-01-10         33.0       20.0   snow
2025-01-11         18.0       20.0  sunny
2025-01-12         31.0        8.0   rain
2025-01-13         31.0       20.0  sunny
2025-01-14          NaN       12.0   snow
2025-01-15         23.0        6.0   rain
2025-01-16         34.0        6.0    NaN
2025-01-17         30.0       22.0  sunny
2025-01-18         19.0        NaN   snow
2025-01-19          NaN       10.0   rain
2025-01-20         20.0       15.0   snow

# fill missing index

In [145]:
dt = pd.date_range("01-01-2025","06-01-2025")
indx = pd.DatetimeIndex(dt)
df = df.reindex(indx)
print(df)


#in this case no index is missing so nothing change but if the index are missing btw ("01-01-2025","06-01-2025") they all are incerted with NaN values

            temperature  windspeed  event
2025-01-01          NaN       12.0    NaN
2025-01-02         33.0        NaN   snow
2025-01-03         27.0        NaN    NaN
2025-01-04         30.0       10.0  sunny
2025-01-05          NaN        NaN   rain
...                 ...        ...    ...
2025-05-28          NaN        NaN    NaN
2025-05-29          NaN        NaN    NaN
2025-05-30          NaN        NaN    NaN
2025-05-31          NaN        NaN    NaN
2025-06-01          NaN        NaN    NaN

[152 rows x 3 columns]

# read mixed data from csv in numpy

In [ ]:

data = np.genfromtxt('weather_data.csv', delimiter=',', dtype=None, encoding='utf-8')
print(data)

[['day' 'temperature' 'windspeed' 'event']
 ['2025-01-01' '' '12.0' '']
 ['2025-01-02' '33.0' '' 'snow']
 ['2025-01-03' '27.0' '' '']
 ['2025-01-04' '30.0' '10.0' 'sunny']
 ['2025-01-05' '' '' 'rain']
 ['2025-01-06' '32.0' '6.0' 'sunny']
 ['2025-01-07' '' '13.0' 'snow']
 ['2025-01-08' '30.0' '' 'sunny']
 ['2025-01-09' '19.0' '9.0' '']
 ['2025-01-10' '33.0' '20.0' 'snow']
 ['2025-01-11' '18.0' '20.0' 'sunny']
 ['2025-01-12' '31.0' '8.0' 'rain']
 ['2025-01-13' '31.0' '20.0' 'sunny']
 ['2025-01-14' '' '12.0' 'snow']
 ['2025-01-15' '23.0' '6.0' 'rain']
 ['2025-01-16' '34.0' '6.0' '']
 ['2025-01-17' '30.0' '22.0' 'sunny']
 ['2025-01-18' '19.0' '' 'snow']
 ['2025-01-19' '' '10.0' 'rain']
 ['2025-01-20' '20.0' '15.0' 'snow']
 ['2025-01-21' '21.0' '16.0' 'snow']
 ['2025-01-22' '29.0' '24.0' 'snow']
 ['2025-01-23' '31.0' '14.0' '']
 ['2025-01-24' '29.0' '' 'snow']
 ['2025-01-25' '30.0' '6.0' '']
 ['2025-01-26' '33.0' '19.0' 'snow']
 ['2025-01-27' '22.0' '22.0' 'snow']
 ['2025-01-28' '27.0' '22.0' 'snow']
 ['2025-01-29' '24.0' '15.0' 'rain']
 ['2025-01-30' '34.0' '15.0' 'snow']
 ['2025-01-31' '33.0' '' 'snow']
 ['2025-02-01' '' '13.0' 'rain']
 ['2025-02-02' '26.0' '13.0' 'sunny']
 ['2025-02-03' '20.0' '14.0' 'rain']
 ['2025-02-04' '33.0' '15.0' 'snow']
 ['2025-02-05' '18.0' '23.0' 'sunny']
 ['2025-02-06' '26.0' '7.0' '']
 ['2025-02-07' '' '21.0' 'sunny']
 ['2025-02-08' '19.0' '7.0' 'snow']
 ['2025-02-09' '22.0' '22.0' 'snow']
 ['2025-02-10' '22.0' '' 'snow']
 ['2025-02-11' '34.0' '12.0' '']
 ['2025-02-12' '19.0' '15.0' 'snow']
 ['2025-02-13' '18.0' '16.0' 'rain']
 ['2025-02-14' '23.0' '11.0' '']
 ['2025-02-15' '27.0' '18.0' 'sunny']
 ['2025-02-16' '' '19.0' 'sunny']
 ['2025-02-17' '31.0' '' 'snow']
 ['2025-02-18' '27.0' '15.0' 'sunny']
 ['2025-02-19' '24.0' '21.0' 'snow']
 ['2025-02-20' '33.0' '' 'snow']
 ['2025-02-21' '19.0' '18.0' 'sunny']
 ['2025-02-22' '26.0' '9.0' '']
 ['2025-02-23' '33.0' '21.0' 'snow']
 ['2025-02-24' '' '6.0' 'snow']
 ['2025-02-25' '27.0' '18.0' 'sunny']
 ['2025-02-26' '32.0' '' 'rain']
 ['2025-02-27' '30.0' '23.0' 'snow']
 ['2025-02-28' '20.0' '21.0' 'rain']
 ['2025-03-01' '' '6.0' 'snow']
 ['2025-03-02' '24.0' '' 'sunny']]

In [ ]:
print(data[1:,:])

[['2025-01-01' '' '12.0' '']
 ['2025-01-02' '33.0' '' 'snow']
 ['2025-01-03' '27.0' '' '']
 ['2025-01-04' '30.0' '10.0' 'sunny']
 ['2025-01-05' '' '' 'rain']
 ['2025-01-06' '32.0' '6.0' 'sunny']
 ['2025-01-07' '' '13.0' 'snow']
 ['2025-01-08' '30.0' '' 'sunny']
 ['2025-01-09' '19.0' '9.0' '']
 ['2025-01-10' '33.0' '20.0' 'snow']
 ['2025-01-11' '18.0' '20.0' 'sunny']
 ['2025-01-12' '31.0' '8.0' 'rain']
 ['2025-01-13' '31.0' '20.0' 'sunny']
 ['2025-01-14' '' '12.0' 'snow']
 ['2025-01-15' '23.0' '6.0' 'rain']
 ['2025-01-16' '34.0' '6.0' '']
 ['2025-01-17' '30.0' '22.0' 'sunny']
 ['2025-01-18' '19.0' '' 'snow']
 ['2025-01-19' '' '10.0' 'rain']
 ['2025-01-20' '20.0' '15.0' 'snow']
 ['2025-01-21' '21.0' '16.0' 'snow']
 ['2025-01-22' '29.0' '24.0' 'snow']
 ['2025-01-23' '31.0' '14.0' '']
 ['2025-01-24' '29.0' '' 'snow']
 ['2025-01-25' '30.0' '6.0' '']
 ['2025-01-26' '33.0' '19.0' 'snow']
 ['2025-01-27' '22.0' '22.0' 'snow']
 ['2025-01-28' '27.0' '22.0' 'snow']
 ['2025-01-29' '24.0' '15.0' 'rain']
 ['2025-01-30' '34.0' '15.0' 'snow']
 ['2025-01-31' '33.0' '' 'snow']
 ['2025-02-01' '' '13.0' 'rain']
 ['2025-02-02' '26.0' '13.0' 'sunny']
 ['2025-02-03' '20.0' '14.0' 'rain']
 ['2025-02-04' '33.0' '15.0' 'snow']
 ['2025-02-05' '18.0' '23.0' 'sunny']
 ['2025-02-06' '26.0' '7.0' '']
 ['2025-02-07' '' '21.0' 'sunny']
 ['2025-02-08' '19.0' '7.0' 'snow']
 ['2025-02-09' '22.0' '22.0' 'snow']
 ['2025-02-10' '22.0' '' 'snow']
 ['2025-02-11' '34.0' '12.0' '']
 ['2025-02-12' '19.0' '15.0' 'snow']
 ['2025-02-13' '18.0' '16.0' 'rain']
 ['2025-02-14' '23.0' '11.0' '']
 ['2025-02-15' '27.0' '18.0' 'sunny']
 ['2025-02-16' '' '19.0' 'sunny']
 ['2025-02-17' '31.0' '' 'snow']
 ['2025-02-18' '27.0' '15.0' 'sunny']
 ['2025-02-19' '24.0' '21.0' 'snow']
 ['2025-02-20' '33.0' '' 'snow']
 ['2025-02-21' '19.0' '18.0' 'sunny']
 ['2025-02-22' '26.0' '9.0' '']
 ['2025-02-23' '33.0' '21.0' 'snow']
 ['2025-02-24' '' '6.0' 'snow']
 ['2025-02-25' '27.0' '18.0' 'sunny']
 ['2025-02-26' '32.0' '' 'rain']
 ['2025-02-27' '30.0' '23.0' 'snow']
 ['2025-02-28' '20.0' '21.0' 'rain']
 ['2025-03-01' '' '6.0' 'snow']
 ['2025-03-02' '24.0' '' 'sunny']]