In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    {
        "Day" : ["sunday","monday","tuesday","wednesday","thrusday","friday","saturday"],
        "chicago" :[23,45,23,41,23,45,44],
        "barlin" : [30,45,44,43,40,41,42],
        "new york" : [23,22,23,24,23,21,22]
    }
)
df

         Day  chicago  barlin  new york
0     sunday       23      30        23
1     monday       45      45        22
2    tuesday       23      44        23
3  wednesday       41      43        24
4   thrusday       23      40        23
5     friday       45      41        21
6   saturday       44      42        22

numbers are temperatures ...we wnat to resahpe the dataframe into day , city tempereture

In [14]:
df1 = pd.melt(df,id_vars=["Day"])
df1

          Day  variable  value
0      sunday   chicago     23
1      monday   chicago     45
2     tuesday   chicago     23
3   wednesday   chicago     41
4    thrusday   chicago     23
5      friday   chicago     45
6    saturday   chicago     44
7      sunday    barlin     30
8      monday    barlin     45
9     tuesday    barlin     44
10  wednesday    barlin     43
11   thrusday    barlin     40
12     friday    barlin     41
13   saturday    barlin     42
14     sunday  new york     23
15     monday  new york     22
16    tuesday  new york     23
17  wednesday  new york     24
18   thrusday  new york     23
19     friday  new york     21
20   saturday  new york     22

variable --> city , value --> temperature

In [17]:
df2 = pd.melt(df,id_vars=["Day"],var_name="CITY",value_name="TEMPERETURE",ignore_index=True)
df2

          Day      CITY  TEMPERETURE
0      sunday   chicago           23
1      monday   chicago           45
2     tuesday   chicago           23
3   wednesday   chicago           41
4    thrusday   chicago           23
5      friday   chicago           45
6    saturday   chicago           44
7      sunday    barlin           30
8      monday    barlin           45
9     tuesday    barlin           44
10  wednesday    barlin           43
11   thrusday    barlin           40
12     friday    barlin           41
13   saturday    barlin           42
14     sunday  new york           23
15     monday  new york           22
16    tuesday  new york           23
17  wednesday  new york           24
18   thrusday  new york           23
19     friday  new york           21
20   saturday  new york           22

melt() converts:

wide format → long format

In [18]:
dff = pd.read_csv("data/weather_data.csv")
dff1 = pd.melt(dff,id_vars=["event"])
dff1

     event   variable       value
0      NaN        day  2025-01-01
1     snow        day  2025-01-02
2      NaN        day  2025-01-03
3    sunny        day  2025-01-04
4     rain        day  2025-01-05
..     ...        ...         ...
178   rain  windspeed         NaN
179   snow  windspeed        23.0
180   rain  windspeed        21.0
181   snow  windspeed         6.0
182  sunny  windspeed         NaN

[183 rows x 3 columns]

In [21]:
dff1[dff1["variable"]=="windspeed"]

     event   variable value
122    NaN  windspeed  12.0
123   snow  windspeed   NaN
124    NaN  windspeed   NaN
125  sunny  windspeed  10.0
126   rain  windspeed   NaN
..     ...        ...   ...
178   rain  windspeed   NaN
179   snow  windspeed  23.0
180   rain  windspeed  21.0
181   snow  windspeed   6.0
182  sunny  windspeed   NaN

[61 rows x 3 columns]

In [ ]:
dff1["event"][dff1["variable"]=="day"]
# print event where the variable is day

0       NaN
1      snow
2       NaN
3     sunny
4      rain
      ...
56     rain
57     snow
58     rain
59     snow
60    sunny
Name: event, Length: 61, dtype: object